// .gitnignore
# next.js build output
.next
# dotenv environment variables 
.env.local
# Dependency directories
node_modules/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.development
.env.production
