.catalogHeader {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  align-items: center;
}

.addEdit > img {
  background-color: black;
  width: 15px;
  height: 15px;
  margin: auto 5px;
}

.catalogHeader > img,
.catalogHeader > span {
  justify-self: end;
}

.catalogHeader > h1 {
  display: inline-block;
}

.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: left;
}

.catalogItem {
  display: grid;
  width: fit-content;
}

.catalogItem h2 {
  margin: 0;
}

.catalogItem span {
  font-size: 15px;
}
