.catalogHeader {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.addEdit,
.catalogAuthor {
  justify-self: right;
}

.addEdit > img {
  width: 15px;
  height: 15px;
  margin: auto 5px;
}

.catalogAuthor {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 30px 1fr;
  width: fit-content;
}

.catalog {
  display: grid;
  grid-gap: 50px;
  text-align: left;
}

@media (min-width: 1200px) {
  .catalog {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .catalog {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .catalog {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.catalogItem {
  display: grid;
  width: fit-content;
  justify-items: center;
}

.catalogItem h2 {
  margin: 0;
}

.catalogItem span {
  font-size: 15px;
}

.searchResults {
  text-align: left;
}

.itemPage {
  display: grid;
  text-align: left;
  grid-template-columns: 0.5fr 1fr;
  row-gap: 10px;
}

.itemPage > span {
  grid-column-start: 2;
  justify-self: end;
}

.itemPage > h4 {
  grid-column: 1/3;
}

.itemDetails {
  display: grid;
  height: fit-content;
}

.itemDetails h5 {
  padding-top: 10px;
}

.rightAlign {
  justify-self: end;
}

.authorProfile {
  border-radius: 50%;
}

.authorPlaceholder {
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: solid 1px grey;
}

.catalogAuthorGrid {
  display: grid;
  align-items: center;
  grid-template-columns: 30px 1fr;
}
