.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: fit-content;
}

.button:hover {
  cursor: pointer;
  color: #535353;
}

.catalogHeader > img {
  background-color: black;
  width: 15px;
  height: 15px;
  margin: auto 5px;
}

.catalogHeader > h1 {
  display: inline-block;
}
