.feed {
  margin-bottom: 40px;
  display: grid;
}

.header {
  margin: 0px 40px 0 60px;
  display: grid;
  grid-template-columns: 50px 1fr 110px;
  margin-bottom: 20px;
  align-items: center;
}

.footer {
  margin: 0 80px;
  display: grid;
}

.secondary {
  border: 1px solid #eeb91c;
  color: #eeb91c;
  background-color: white;
  font-weight: bold;
  min-width: 100px;
  padding: 8px 15px;
}

.secondary:hover {
  color: white;
  background-color: #eeb91c;
}

.image {
  justify-self: center;
}

.catalogBreadCrumb > span {
  font-size: 16px;
  font-family: 'Poppins-Medium';
}
