html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: Poppins-Light;
  src: url(../public/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../public/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../public/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../public/fonts/Poppins-Bold.ttf);
}

h5 {
  font-size: 18px;
}

h5,
h6 {
  font-family: 'Poppins-Medium';
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

button.btn {
  border-radius: 0px;
}

* {
  font-family: Poppins-Regular;
  font-size: 15px;
}

.medium-font {
  font-family: Poppins-Medium;
}

.button:hover,
.link:hover {
  cursor: pointer;
  color: #6c757d;
}

.link {
  text-decoration: underline;
}

input.form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.activePage {
  border-bottom: solid 2px #535353;
}

.error {
  color: red;
}
.error2 {
  color: red;
}

.center {
  justify-self: center;
}

.grid {
  display: grid;
}

button.close {
  width: 50px;
}

.nav.nav-tabs,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
  border: none;
}

.nav-tabs .nav-link.active {
  border-top: 2px solid #535353;
  border-radius: 0%;
  font-weight: bold;
  background-color: transparent;
}

.bold {
  font-weight: bold;
}

.card {
  display: grid;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 30px 20px;
}
