html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: Poppins-Light;
  src: url(../public/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../public/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../public/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../public/fonts/Poppins-Bold.ttf);
}

button.btn {
  border-radius: 0px;
}

* {
  font-family: Poppins-Regular;
  font-size: 15px;
}

h5 {
  font-family: Poppins-Medium;
}

.medium-font {
  font-family: Poppins-Medium;
}

.button:hover {
  cursor: pointer;
  color: #6c757d;
}

a {
  color: black;
}

a:hover {
  color: black;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

input.form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.activePage {
  border-bottom: solid 2px #535353;
}

.error {
  color: red;
}
.error2 {
  color: red;
}

.center {
  justify-self: center;
}

.grid {
  display: grid;
}

button.close {
  width: 50px;
}

.tab-content {
  margin-top: 20px;
}

.tab-content > .active {
  display: grid;
}

.nav.nav-tabs,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
  border: none;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid #58ebff;
  border-radius: 0%;
  font-weight: bold;
  background-color: transparent;
  color: black;
}

.nav.nav-tabs > a {
  font-size: 18px;
  font-family: 'Poppins-Medium';
}

.bold {
  font-weight: bold;
}

.card {
  background-color: white;
  padding: 30px;
  margin-bottom: 20px;
  border: solid 1px #dbdbdb;
  border-radius: 4px;
  height: fit-content;
  width: 100%;
}

.primary {
  background-color: #58ebff;
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  color: white;
  font-family: 'Poppins-Medium';
  width: fit-content;
  font-weight: bold;
}

.primary:hover {
  opacity: 0.9;
}

.secondary {
  border: 1px solid #58ebff;
  border-radius: 4px;
  color: #58ebff;
  background-color: white;
  font-weight: bold;
  min-width: 100px;
  padding: 5px 10px;
}

.secondary:hover {
  background-color: #fafafa;
}
