.headerRow {
  display: grid;
  grid-template-columns: 150px 1fr;
}

.leftColumn {
  display: grid;
  grid-template-rows: 2fr 1fr;
  justify-items: center;
}

.leftColumn > img {
  justify-self: center;
  align-self: center;
  padding-right: 20px;
}

.centerColumn {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}
