/* screen size larger than 600 */
@media only screen and (min-width: 1200px) {
  .header {
    position: relative;
    width: 1200px;
    padding: 10px 0px;
    display: grid;
    grid-template-columns: 200px 1fr 150px;
    align-items: center;
  }
  .headerContainer {
    background: white;
    border: solid 1px #dbdbdb;
    justify-items: center;
  }
  .search {
    display: flex;
    justify-self: center;
    width: 500px;
  }
  .logo {
    margin-left: 60px;
    width: 150px;
  }
}

/* screen size smaller than 600 */
@media only screen and (max-width: 1200px) {
  .header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .search {
    display: none;
  }
  .headerContainer {
    padding: 10px;
    background: #fafafa;
    border-bottom: solid 1px #dbdbdb;
    margin-bottom: 10px;
  }
}

.headerContainer {
  display: grid;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  display: grid;
  align-items: center;
  grid-template-columns: 25px 1fr;
}

.logo > img {
  width: 20px;
  height: 20px;
}

.navigation {
  justify-self: start;
  width: 100%;
  display: grid;
  grid-template-columns: 50px 50px 50px;
  justify-items: center;
  align-items: center;
}

.navigation > div {
  padding: 2px;
}

.navigation > div:hover {
  background-color: #fafafa;
}

.search > input {
  border: solid 1px white;
  font-size: 14px;
  background: #f7f7f7;
  padding-left: 20px;
  height: 40px;
  width: 100%;
}

.search > input:focus {
  outline: none;
  border: 1px solid lightgray;
}

.search > button {
  width: auto;
  border: none;
  height: 40px;
  width: 40px;
  position: relative;
  right: 40px;
  background: transparent;
}

.search > button:hover {
  background: rgba(22, 24, 35, 0.03);
}
