/* screen size larger than 600 */
@media only screen and (min-width: 1200px) {
  .content {
    display: grid;
    gap: 20px;
    width: 1200px;
    padding: 30px 0px;
    margin-left: 100px;
    grid-template-columns: 250px 600px 300px;
  }
  .pageContent {
    padding-top: 60px;
  }
  .addButton {
    display: grid;
  }
}

/* screen size smaller than 600 */
@media only screen and (max-width: 1200px) {
  .content {
    display: grid;
    gap: 20px;
    width: 100%;
  }

  .pageContent {
    padding-top: 80px;
  }
  .addButton {
    display: none;
  }
}

.container {
  background: #fafafa;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.pageContent {
  display: flex;
  width: 100%;
  justify-content: center;
}

.addButton {
  border: 2px solid #20d5ec;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  justify-items: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.addButton:hover {
  opacity: 0.9;
  cursor: pointer;
  background: #20d5ec;
  color: white;
}

.dropDownMenuItem {
  display: grid !important;
  grid-template-columns: 30px 1fr;
  justify-items: start;
  align-items: center;
}

.checkbox {
  font-weight: bold;
}

.guestMenu {
  position: fixed;
  right: 50px;
  bottom: 50px;
}
