.container {
  background: #fafafa;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.layout {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 80px;
}

.content {
  display: grid;
  width: 1000px;
  margin-bottom: 50px;
  margin: 20px;
  grid-template-columns: 1fr 700px;
  justify-items: start;
  padding: 0 40px 20px 0px;
}

@media (min-width: 1200px) {
  .content {
    grid-column-start: 2;
  }
  .addButton {
    bottom: 50px;
    right: 50px;
  }
}

@media (max-width: 1200px) {
  .catalog {
    grid-template-columns: 1fr;
  }
  .content {
    grid-column-start: 1;
  }
  .addButton {
    bottom: 50px;
    right: 50px;
  }
  .guestMenu {
    display: none;
  }
}

@media (max-width: 600px) {
  .catalog {
    grid-template-columns: 1fr;
  }

  .content {
    grid-column-start: 1;
  }
  .addButton {
    bottom: 30px;
    right: 20px;
  }
  .guestMenu {
    display: none;
  }
}

.addButton {
  background: #2270af;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  display: grid;
  justify-items: center;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  position: fixed;
  margin-left: 30px;
}

.addButton:hover {
  opacity: 0.9;
  cursor: pointer;
}

.dropDownMenuItem {
  display: grid !important;
  grid-template-columns: 30px 1fr;
  justify-items: start;
  align-items: center;
}

.checkbox {
  font-weight: bold;
}

.guestMenu {
  position: fixed;
  right: 50px;
  bottom: 50px;
}
