.sideBar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 2fr 6fr;
  background: #000000;
  color: white;
}

.logo {
  text-align: center;
}

.logo > p {
  margin: 0;
  font-size: 12px;
}

.logo > h1,
.profileInfo > h1 {
  margin-bottom: 5px;
}

.profileInfo {
  text-align: center;
}

.profileInfo > p {
  margin: 0;
  font-size: 14px;
}

.profileInfo > img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
