/* screen size larger than 600 */
@media only screen and (min-width: 1200px) {
  .footerMenu {
    display: none;
  }
}

/* screen size smaller than 600 */
@media only screen and (max-width: 1200px) {
  .footerMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: white;
    border-top: 1px solid lightgray;
  }
}
