.profileCard {
  display: grid;
  gap: 20px;
  width: 400px;
  justify-self: center;
}

.mainInfo {
  display: grid;
  grid-template-columns: 150px 250px;
  justify-items: center;
  align-items: center;
}

.detailedInfo > span,
.followInfo > span {
  display: block;
}

.profileContent {
  display: grid;
}
