.profileCard {
  display: grid;
  gap: 20px;
  width: 400px;
  justify-self: center;
}

.mainInfo {
  display: grid;
  grid-template-columns: 150px 250px;
  justify-items: center;
  align-items: center;
}

.detailedInfo > span,
.followInfo > span {
  display: block;
}

.profileContent {
  display: grid;
}

.catalog {
  display: grid;
  column-gap: 20px;
  text-align: left;
  justify-items: left;
  grid-template-columns: 1fr 1fr 1fr;
}

.items {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
