.profileInfo {
  display: grid;
  justify-items: left;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;
}

.profileInfo > div {
  text-align: left;
}

.profileDetails > span,
.followInfo > span {
  display: block;
}

.profilePlaceholder > span {
  font-size: 60px;
}

span.followInfo {
  font-size: 12px;
  margin-top: 10px;
  display: inline;
}

.userGrid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  grid-gap: 20px;
}

@media (min-width: 1200px) {
  .userGrid {
    grid-template-columns: 1fr 1fr;
  }
  .profileInfo {
    grid-template-columns: 150px 1.5fr 1fr;
    grid-gap: 20px;
  }
  .profileButtons {
    justify-self: center;
  }
}

@media (max-width: 1200px) {
  .userGrid {
    grid-template-columns: 1fr 1fr;
  }
  .profileInfo {
    grid-template-columns: 150px 1.5fr 1fr;
    grid-gap: 20px;
  }
  .profileButtons {
    justify-self: center;
  }
}

@media (max-width: 600px) {
  .userGrid {
    grid-template-columns: 1fr;
  }
  .profileInfo {
    grid-template-columns: 150px 1fr;
    grid-gap: 20px;
  }
  .profileButtons {
    grid-column-start: 2;
    justify-self: start;
  }
}

.userInfo > span {
  display: block;
}
