.rightBar {
  font-size: 14px;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  padding-left: 50px;
  padding-top: 30px;
}

.settingsIcon {
  display: inline;
  margin-left: 10px;
}

.addButton {
  background: #535353;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  display: grid;
  justify-items: center;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  position: fixed;
  bottom: 20px;
  margin-left: 30px;
}

.addButton:hover {
  background: black;
}
