.rightBar {
  font-size: 14px;
  padding: 10px 0;
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 80px 1fr;
  align-items: center;
}

.addButton {
  background: #535353;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  display: grid;
  justify-items: center;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-bottom: 40px;
  align-self: end;
  justify-self: center;
}

.addButton:hover {
  background: black;
}
