.searchBar {
  width: 60%;
}

.searchBar > form {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  height: 48px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 15fr;
  margin: 20px;
}

.searchBar > form > img {
  justify-self: center;
}

.searchBar > form > input {
  font-size: 18px;
  align-items: center;
  border: none;
}

.searchBar > form > input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
