.container {
  position: absolute;
  top: 80px;
  min-height: 100vh;
  z-index: 1000;
  background-color: white;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  visibility: hidden;
  width: 100vw;
  transform: translateX(-100vw);
}

.active {
  visibility: visible;
  transform: translateX(0);
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),
    -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu {
  display: grid;
  margin: 20px;
  font-weight: bold;
}

.menu > span {
  border-bottom: 1px solid #20d5ec;
  padding: 20px;
  display: grid;
  grid-template-columns: 25px 1fr;
  align-items: center;
}
