.sideBar {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: fixed;
}

.sideMenu > span {
  color: #868686;
  font-size: 12px;
}

.sideBarContainer {
  position: relative;
  padding-left: 40px;
}

/* screen size larger than 600 */
@media only screen and (min-width: 600px) {
  .sideBarContainer {
    display: grid;
  }
}

/* screen size smaller than 600 */
@media only screen and (max-width: 600px) {
  .sideBarContainer {
    display: none;
  }
}
